.logo {
    transform: translate(-50%);
    top: 5px;
    left: 50%;
    display: flex;
    position: absolute;
    margin: 5px auto;
    height: 60px;
    width: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 5px 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.307);
    background: url(../../assets/img/main.jpg) center/cover;
  
    img {
      height: 40px;
    }
    h3 {
      margin-left: 10px;
      color: $color-1;
    }
  }