
@import "../settings";
.navigation{
    display: flex;
    margin: 26px 0;
    
    a {
        margin: 10px;
        padding: 10px;
        position: relative;
        text-decoration: none;

        .nav-active {
            &::after {
                content: "";
                position: absolute;
                bottom: 1px;
                left: 50%;
                width: 85%;
                height: 5px;
                transform: translateX(-50%);
                background: $color-1;
                color: $color-1;
            }
        }
    }
}